
#titulo, #horario {
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
}


table {
  border-collapse: collapse;
  margin: 30px auto;
  font-family: "Times New Roman", serif;
}


th, td {
  border: 2px solid #333;
  width: 180px;
  height: 60px;
  text-align: center;
}


.modulo1 {
  background-color: #FFD700;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

th {
  background-color: #c6e8ff;
  font-family: "Times New Roman", serif;
  font-size: 18px;
  font-style: italic;
}